
<div>

  <mat-toolbar color="primary">

    <mat-toolbar-row>
    <p>RECIPE BOOK</p>
    <button mat-button  (click)="onSelect('recipe')">Recipe</button>
    <button mat-button (click)="onSelect('shopping-list')">Shopping list</button>

      <span class="flex-fill"> </span>
      <button mat-raised-button color="primary" [matMenuTriggerFor]="manage">Settings
      <mat-icon>expand_more</mat-icon>
      </button>
      <mat-menu #manage="matMenu" [overlapTrigger]="false">
        <button mat-menu-item>Account</button>
        <button mat-menu-item>Logout</button>
      </mat-menu>

  </mat-toolbar-row>
</mat-toolbar>
</div>


